.gridContainer{
    margin: 4px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: 130px;
    gap: 4px;
}
.divContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    background-color: rgb(136, 33, 214);
}

.gridContainer div:hover{
    background-color: rgb(171, 87, 236);
}