.productCard {
  color: black;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 6px 20px;
}

.productCard.div {
  width: 100%;
  height: 300px;
}
.productCard img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
